<div class="border-bottom border-weight-2 mt-3 pb-2">
  <h1 class="mb-3 text-center">All your favorites</h1>
</div>

<div class="row">

<div class="container col-8 border-end border-weight-2">
<div class="row m-3">
  <% @favorites.each do |favorite| %>
    <div class="card-oui col-2 shadow m-3 position-relative" style="width: 16rem;">
      <img class="card-img" src="https://images.unsplash.com/photo-1495121605193-b116b5b9c5fe?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="<%= favorite.name %>">
      <div class="p-3 d-flex flex-column flex-grow-1">
        <h5 class="card-title"><%= favorite.name %></h5>

        <p class="card-text flex-grow-1"><%= favorite.description %></p>

        <div class="d-flex justify-content-between align-items-end">
          <p class="mb-0">Prix: <%= favorite.price %> €</p>
          <%= link_to "Voir plus", favorites_path, class: "btn-main" %>
        </div>
      </div>
      <div class="position-absolute top-5 start-5 p-2">
        <%= link_to lists_path, class: "btn-main" do %>
        <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>

<div class="container col-4 p-3">
  <h2>My lists</h2>
  <% @lists.each do |list| %>
    <%= link_to list_path(list) do %>
      <div class="card bg-white py-2 px-4 shadow rounded">
        <%= list.name %>
      </div>
    <% end %>
  <% end %>
</div>

</div>
