<div class="container mt-5">
  <div class="d-flex gap-1" style="height: 500px">
    <img src="https://img.leboncoin.fr/api/v1/lbcpb1/images/9d/fc/ef/9dfcefd8826fe01b87d597059893335687f8b6a1.jpg?rule=classified-1200x800-webp" alt="" class="image-favoris-show-main">
    <div class="grid-img-favoris gap-1">
      <img src="https://img.leboncoin.fr/api/v1/lbcpb1/images/7e/27/73/7e2773b7e8ff45d43c4fe21092d7068ccb0bc42a.jpg?rule=ad-large" alt="" class="image-favoris-show">
      <img src="https://img.leboncoin.fr/api/v1/lbcpb1/images/a5/00/b9/a500b90b45c34aec8106ca1cc20c893ec7ae36d5.jpg?rule=ad-large" alt="" class="image-favoris-show">
      <img src="https://img.leboncoin.fr/api/v1/lbcpb1/images/ed/ee/c6/edeec647194ab112c1ef39faee55e51f3162c10b.jpg?rule=ad-large" alt="" class="image-favoris-show">
      <img src="https://img.leboncoin.fr/api/v1/lbcpb1/images/10/46/78/1046780881464e64b133d0a7248fbf02df1586c1.jpg?rule=ad-large" alt="" class="image-favoris-show">
    </div>

    <div class="card-body border ms-3 px-5 pt-5 pb-1" style="width: 18rem;">
      <div class=".favorite-tags-container d-flex gap-2 mb-2">
          <% if @favorite.user == current_user %>
            <% @favorite.favorite_tags.each do |favorite_tag| %>
                <%= link_to favorite_favorite_tag_path(@favorite, favorite_tag), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "favorite-tags d-flex align-items-center gap-1" do %>
                <%= favorite_tag.tag.name %>
                <i class="fa-solid fa-xmark"></i>
                <% end %>
              <% end %>
            <% end %>
          
        
      </div>
      <h5 class="card-show-title"><%= @favorite.name %></h5>
      <h6 class="card-subtitle mb-2"><%= @favorite.price %>€</h6>
      <div class="description border-top mt-3">
        <h6 class="card-subtitle mb-2 mt-2">Description</h6>
        <p class="card-description">Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique, découvrit la source incontestable du Lorem Ipsum. Il provient en fait des sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" (Des Suprêmes Biens et des Suprêmes Maux) de Cicéron. Cet ouvrage, très populaire pendant la Renaissance, est un traité sur la théorie de l'éthique. Les premières lignes du Lorem Ipsum, "Lorem ipsum dolor sit amet...", proviennent de la section 1.10.32.</p>
      </div>
      
      
        <div data-controller="submit-on-click"class="border-top mt-3">
          <%= simple_form_for [@favorite, @favorite_tag], html: { data: { controller: "submit-on-click", action: "change->submit-on-click#submitForm", "submit-on-click-target": "form" } } do |f| %>
          <% if current_user.tags.present? %>
            <div class="tags-form-container d-flex align-items-center mb-2 mt-2">
              <%= f.input :tag, as: :check_boxes, collection: Tag.where.not(id: current_user.tags.joins(:favorite_tags)), input_html: { class: "tags-form" },  item_wrapper_class: 'tags-form-container', allow_blank: false %>
               <%= render 'add_tag' %>
            </div>
            <% end %>
          <% end %>

        </div>
       
    </div>
  </div>
</div>
