<div class="container mt-5">
  <div class="d-flex gap-1" style="height: 500px">
<!--    <img src="https://img.leboncoin.fr/api/v1/lbcpb1/images/9d/fc/ef/9dfcefd8826fe01b87d597059893335687f8b6a1.jpg?rule=classified-1200x800-webp" alt="" class="image-favoris-show-main">-->
    <% if @favorite.photos&.first.present? %>
      <%= cl_image_tag @favorite.photos&.first.key, class: 'image-favoris-show-main'%>
    <% else %>
      <%= image_tag "logo-favhub.png", class: 'image-favoris-show-main' %>
    <% end %>
    <div class="grid-img-favoris gap-1 w-100">
      <%#= cl_image_tag @favorite.photo.key, height: 300, width: 400, crop: :fill %>
      <% if @favorite.photos.attached? %>
        <% @favorite.photos.last(4).each do |photo| %>
            <%= cl_image_tag photo.key, class: "image-favoris-show" %>
        <% end %>
      <% else %>
        <% 4.times do %>
          <%= image_tag "logo-favhub.png", class: 'image-favoris-show' %>
        <% end %>
      <% end %>
    </div>

    <div class="card-body border ms-3 px-5 pt-5 pb-1">
      <div class="favorite-tags-container d-flex gap-2 mb-2">
          <% if @favorite.user == current_user %>
            <% @favorite.favorite_tags.each do |favorite_tag| %>
                <%= link_to favorite_favorite_tag_path(@favorite, favorite_tag), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "favorite-tags d-flex align-items-center gap-1" do %>
                <%= favorite_tag.tag.name %>
                <i class="fa-solid fa-xmark"></i>
                <% end %>
              <% end %>
            <% end %>
      </div>
      <h5 class="card-show-title"><%= @favorite.name %></h5>
      <h6 class="card-subtitle mb-2"><%= @favorite.price %>€</h6>
      <%= link_to @favorite.url, target: "_blank" do %>
        <% if @favorite.source == "leboncoin" %>
          Voir le favori sur LeBonCoin
        <% else %>
          Voir le favori sur Vinted
        <% end %>
      <i class="fa-solid fa-arrow-right"></i>
      <% end %>
      <div class="description border-top mt-3">
        <h6 class="card-subtitle mb-2 mt-2">Description</h6>
        <p class="card-description"><%= @favorite.description %></p>
      </div>
      
      
        <div data-controller="submit-on-click"class="border-top mt-3 mb-3">
          <%= simple_form_for [@favorite, @favorite_tag], html: { data: { controller: "submit-on-click", action: "change->submit-on-click#submitForm", "submit-on-click-target": "form" } } do |f| %>
          <% if current_user.tags.present? %>
            <div class="tags-form-container d-flex align-items-center mt-2">
              <%= f.input :tag, as: :check_boxes, collection: Tag.where.not(id: current_user.tags.joins(:favorite_tags)), input_html: { class: "tags-form" },  item_wrapper_class: 'tags-form-container', allow_blank: false %>
            </div>
            <% end %>
          <% end %>
        <%= render 'add_tag', tag: @tag %>

        </div>
       
    </div>
  </div>
</div>

<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    var legendElement = document.querySelector('legend');
    if (legendElement) {
      legendElement.textContent = 'Ajouter un tag';
    }
  });
</script> %>
