<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card border-0 shadow-none">
        <div class="card-body p-3">
          <h4 class="mb-3">Mon profil</h4>
          <div class="card-oui text-center p-3">
            <div class="avatar-container d-flex justify-content-center mb-3">
              <img src="<%= current_user.avatar %>" alt="Avatar" class="avatar-profil">
            </div>
            <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
            <p class="text-muted">Nom d'utilisateur: <%= current_user.user_name %></p>
            <p class="text-muted"><%= current_user.email %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card border-0 shadow-none">
        <div class="card-body p-3">
          <h4 class="mb-3">Mes derniers favoris</h4>
          <div class="row">
            <% @favorites.last(4).each do |favorite| %>
              <div class="col-md-6 mb-4">
                <%= render 'favorites/favorite', favorite: favorite %>
              </div>
            <% end %>
          </div>
          <div class="text-center mt-4">
            <%= link_to favorites_path, class: 'text-decoration-none d-flex align-items-center' do %>
              <i class="fa-solid fa-arrow-right link-icon"></i>
              <span class="link-text">Tous mes favoris</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-3">
      <h4 class="mb-3">Fil d'actualité</h4>
      <div class="card-fil-custom p-3">
        <% if @following_favorites.present? && @following_favorites.any? %>
          <% @following_favorites.each do |favorite| %>
            <div class="d-flex justify-content-between align-items-center border-0 mb-3 p-3">
              <div class="d-flex align-items-center">
                <img src="<%= favorite.user.avatar %>" alt="Avatar" class="avatar me-3">
                <span class="fw-bold"><%= favorite.user.user_name %></span>
              </div>
              <div class="ms-3">
                a ajouté un favori : <span><%= favorite.name %></span>
              </div>
              <span class="text-muted ms-3">
                il y a <%= time_ago_in_words(favorite.created_at) %>
              </span>
            </div>
          <% end %>
        <% else %>
          <p class="text-muted">Aucun favori récent des personnes que vous suivez.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="card border-0">
        <div class="card-body p-3">
          <h4 class="mb-3">Mes dernières listes</h4>
          <% @lists.each do |list| %>
            <div class="card border-0 mt-3 p-3">
              <div class="card-body">
                <h6 class="link-text mb-3">
                  <%= link_to list.name, list_path(list) %>
                </h6>
                <div class="d-flex overflow-auto">
                  <% if list.favorites.any? %>
                    <div class="d-flex flex-nowrap">
                      <% list.favorites.each do |favorite| %>
                        <div class="square-card-wrapper mx-2">
                          <%= render 'favorites/favorite', favorite: favorite %>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <p>Aucun favori dans cette liste.</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="text-center mt-4">
            <%= link_to favorites_path, class: 'text-decoration-none d-flex align-items-center' do %>
              <i class="fa-solid fa-arrow-right link-icon"></i>
              <span class="link-text">Toutes mes listes</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
