<% content_for :body_class, "dashboard-background" %>

<div class="main-container d-flex p-3">

  <div class="lists-container d-flex flex-column m-4">
    <% @lists.last(2).each do |list| %>
      <div class="lists">
        <div class="list-header d-flex justify-content-between align-items-center">
          <h4><%= list.name %></h4>
          <%= link_to favorites_path(list_id: list.id), class: "btn-text-only" do %>
            Voir la liste
            <i class="fa-solid fa-arrow-right"></i>
          <% end %>
        </div>
        <div class="favorites-card d-flex gap-3 my-3">
          <% list.favorites.last(3).each do |favorite| %>
            <div class="card favorite-card">
              <img class="card-img-top" src="https://images1.vinted.net/t/03_01564_TXYRanSYDWD51tfGuBtZAb3g/f800/1724432311.jpeg?s=d3f0e914256f111bc1df96f47aa04c2ffdd36fc2" alt="">
              <div class="card-body">
                <div class="card-body-main d-flex justify-content-between">
                  <h6 class="card-title"><%= truncate(favorite.name, length: 25) %></h6>
                  <img class="source-logo" src="https://cdn.brandfetch.io/idFLvfRPd0/w/800/h/800/theme/dark/icon.jpeg?k=id64Mup7ac&t=1721841761912?t=1721841761912" alt="source-logo">
                </div>
                <p class="card-text"><%= number_to_currency(favorite.price, unit: "€") %></p>
                <%= link_to "Voir le favori", favorite_path(favorite), class: "btn btn-secondary py-1 px-3 me-3" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="recent-favorites-container m-3 p-3">
    <div class="favorites-header d-flex justify-content-between align-items-center m-3">
      <h4>Récemment ajoutés</h4>
      <%= link_to favorites_path, class: "btn-text-only" do %>
        Voir tous
        <i class="fa-solid fa-arrow-right"></i>
        <% end %>
      </div>
    <div class="recent-favorites-cards d-flex flex-column m-3 gap-3">
      <% @favorites.last(6).each do |favorite| %>
        <%= link_to favorite_path(favorite), class: "card-favorite-link" do %>
          <div class="card-recent-favorites d-flex align-items-center p-2">
            <img src="https://www.letempledujeu.fr/IMG/arton12960.jpg?1670239449" />
            <div class="card-favorites-recent-infos">
              <h6><%= truncate(favorite.name, length: 25) %></h6>
              <p><%= number_to_currency(favorite.price, unit: "€") %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="social-container d-flex flex-column m-3">
    <div class="profil-card p-3">
      <div class="profil-header d-flex justify-content-between align-items-start">
        <div class="profil-infos d-flex flex-column">
          <div class="d-flex align-items-center">
            <div class="profil-img">
              <img src="<%= current_user.avatar %>" alt="Avatar" class="avatar-profil">
            </div>
            <div class="profil-infos-text d-flex flex-column ps-2">
              <h5>Bonjour, <%= current_user.first_name %></h5>
              <p><%= current_user.email %></p>
              <%= link_to "Partager mon profil", "#", class: "btn btn-secondary mt-1", data: { bs_toggle: "modal", bs_target: "#shareProfileModal" } %>
            </div>
          </div>
        </div>

        <div class="icon-container d-flex flex-column gap-2 align-items-end">
          <div class="profil-icons d-flex align-items-center justify-content-center ps-2">
            <div class="profil-number"><%= @user.followeds.count %></div>
            <div class="profil-icon d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-user-group"></i>
            </div>
          </div>

          <div class="profil-icons d-flex align-items-center justify-content-between ps-2">
            <div class="profil-number"><%= @user.favorites.count %></div>
            <div class="profil-icon d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-star"></i>
            </div>
          </div>

          <div class="profil-icons d-flex align-items-center justify-content-between ps-2">
            <div class="profil-number"><%= @user.lists.count %></div>
            <div class="profil-icon d-flex justify-content-center align-items-center">
              <i class="fa-solid fa-list-ul"></i>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="feed-container d-flex flex-column mt-3">
      <h5 class="feed-title p-3">Activité de vos amis</h5>
      <div class="cards-activity">
        <% if @following_favorites.present? && @following_favorites.any? %>
          <% @following_favorites.each do |favorite| %>
            <div class="card-activity d-flex justify-content-between align-items-center mb-2 px-3 pt-2 border-top">
              <div class="card-activity-infos d-flex align-items-center">
                <img class="avatar avatar-feed" src="<%= favorite.user.avatar %>" alt="Avatar">
                <p class="px-2 pt-3"><strong><%= link_to favorite.user.user_name, user_path(favorite.user) %></strong> a ajouté
                  <em><%= link_to favorite_path(favorite), style: "color: #EB4511" do %>
                    <%= favorite.name %>
                  </em></p>
                <i class="fa-solid fa-arrow-right"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <p class="text-muted">Aucun favori récent des personnes que vous suivez.</p>
        <% end %>
      </div>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="shareProfileModal" tabindex="-1" aria-labelledby="shareProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareProfileModalLabel">Partager mon profil</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Choisissez une plateforme pour partager votre profil :</p>
        <div class="d-flex justify-content-between">
          <%= link_to "#", class: "btn btn-secondary btn-lg share-btn" do %>
            <i class="fab fa-facebook fa-2x"></i>
          <% end %>
          <%= link_to "#", class: "btn btn-secondary btn-lg share-btn" do %>
            <i class="fa-brands fa-instagram fa-2x"></i>
          <% end %>
          <%= link_to "#", class: "btn btn-secondary btn-lg share-btn" do %>
            <i class="fab fa-whatsapp fa-2x"></i>
          <% end %>
          <%= link_to "#", class: "btn btn-secondary btn-lg share-btn" do %>
            <i class="fas fa-envelope fa-2x"></i>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<style>
  .share-btn {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
</style>




<% if false %>
<div class="container-fluid">
  <div class="row mt-3">
    <div class="col-md-3">
      <div class="card border-0 shadow-none">
        <div class="card-body p-2">
          <h4 class="mb-2 fw-bold">Mon profil</h4>
          <div class="card-oui text-center p-2 shadow-sm">
            <div class="avatar-container d-flex justify-content-center mb-2">
              <img src="<%= current_user.avatar %>" alt="Avatar" class="avatar-profil">
            </div>
            <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
            <p class="text-muted">Nom d'utilisateur: <%= current_user.user_name %></p>
            <p class="text-muted"><%= current_user.email %></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="card border-0 shadow-none">
        <div class="card-body p-2">
          <h4 class="mb-2 fw-bold">Mes derniers favoris</h4>
          <div class="row">
            <% @favorites.last(4).each do |favorite| %>
              <div class="col-md-6 mb-3">
                <%= link_to favorite_path(favorite), class: "card-oui card border-0 shadow-sm square-card d-flex flex-column", data: { controller: "modal", action: "click->modal#show" } do %>
                  <div class="card-favorite p-2">
                    <h6 class="card-title fw-semibold"><%= favorite.name %></h6>
                    <p class="card-text"><%= truncate(favorite.description, length: 60) %></p>
                    <div class="mt-auto d-flex justify-content-between align-items-center">
                      <p class="card-text">
                        <strong>Prix:</strong> <%= number_to_currency(favorite.price, unit: "€") %><br>
                        <strong>Taille:</strong> <%= favorite.size %>
                      </p>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
          <div class="text-center mt-3">
            <%= link_to favorites_path, class: 'text-decoration-none d-flex align-items-center' do %>
              <i class="fa-solid fa-arrow-right link-icon me-2"></i>
              <span class="link-text">Tous mes favoris</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 mt-2">
      <h4 class="mb-2 fw-bold">Fil d'actualité</h4>
      <div class="card-fil-custom p-2">
        <% if @following_favorites.present? && @following_favorites.any? %>
          <% @following_favorites.each do |favorite| %>
            <div class="d-flex justify-content-between align-items-center border-0 mb-2 p-2">
              <div class="d-flex align-items-center">
                <img src="<%= favorite.user.avatar %>" alt="Avatar" class="avatar me-2">
                <span class="fw-semibold"><%= link_to favorite.user.user_name, user_path(favorite.user) %></span>
              </div>
              <div class="ms-2">
                a ajouté un favori : <span><%= favorite.name %></span>
              </div>
              <span class="text-muted ms-2">
               il y a <%= time_ago_in_words(favorite.created_at, locale: :fr) %>
              </span>
            </div>
          <% end %>
        <% else %>
          <p class="text-muted">Aucun favori récent des personnes que vous suivez.</p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-12">
      <div class="card border-0 shadow-none">
        <div class="card-body p-2">
          <h4 class="mb-2 fw-bold">Mes dernières listes</h4>
          <% @lists.each do |list| %>
            <div class="card border-0 shadow-none mt-2 p-2">
              <div class="card-body">
                <h6 class="link-text mb-2 fw-semibold">
                  <%= link_to list.name, favorites_path(list_id: list.id) %>
                </h6>
                <div class="d-flex flex-nowrap overflow-auto">
                  <% if list.favorites.any? %>
                    <div class="d-flex flex-nowrap">
                      <% list.favorites.each do |favorite| %>
                        <div class="square-card-wrapper mx-2">
                          <%= link_to favorite_path(favorite), class: "card-oui card border-0 shadow-sm square-card d-flex flex-column", data: { controller: "modal", action: "click->modal#show" } do %>
                            <div class="card-favorite p-2">
                              <h6 class="card-title fw-semibold"><%= favorite.name %></h6>
                              <p class="card-text"><%= truncate(favorite.description, length: 60) %></p>
                              <div class="mt-auto d-flex justify-content-between align-items-center">
                                <p class="card-text">
                                  <strong>Prix:</strong> <%= number_to_currency(favorite.price, unit: "€") %><br>
                                  <strong>Taille:</strong> <%= favorite.size %>
                                </p>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      <% end %>
                    </div>
                  <% else %>
                    <p>Aucun favori dans cette liste.</p>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
          <div class="text-center mt-3">
            <%= link_to favorites_path, class: 'text-decoration-none d-flex align-items-center' do %>
              <i class="fa-solid fa-arrow-right link-icon me-2"></i>
              <span class="link-text">Toutes mes listes</span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
